# Odoo
ODOO_URL=http://localhost:8069
ODOO_DB=nombre_de_base
ODOO_USERNAME=admin
ODOO_PASSWORD=admin

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=bd_ott_neutral
DB_USER=postgres
DB_PASSWORD=postgres
SECRET_KEY=supersecreto123
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

EMAIL_FROM=no-reply@fluxnet.com
SENDGRID_API_KEY=SG.xxxxxx  
LOG_LEVEL=info
REDIS_URL=redis://localhost:6379/0

